body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 1200px;
  margin: 4rem auto;
  opacity: 0.85;
}

.order-table {
  border: 1px solid gray;
  border-collapse: collapse;
  width: 100%;
}

.order-table th, td {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

.order-table img {
  width: 100%;
}

.total-cell {
  text-align: right;
}

.box-quantity {
  width: 40px;
  line-height: 30px;
  padding-left: 0.5rem;
  border: 1px solid lightgray;
  font-size: 1.25rem;
  float: left;
}

.btn-order {
  width: 40px;
  line-height: 30px;
  padding: 0;
  border: 1px solid lightgray;
  font-weight: 900;
  font-size: 1.25rem;
  float: left;
}

.btn-remove {
  width: 40px;
  line-height: 30px;
  padding: 0;
  border: 1px solid lightgray;
  color: white;
  background-color: rgb(189, 46, 46);
  font-weight: 900;
  font-size: 1.25rem;
  float: left;
}
